*{
    margin:0;
  }
  header {
  position: fixed;
  width: 100%;
  display: inline-block;
  justify-content: space-between;
  background-color : black;
  z-index: 1000000;
  }

  header ul {
  float: right;
  }

  header ul li {
    display: inline-block;
    color: white;
  }

  header ul li a {
    padding: 25px 20px;
    display: inline-block;
    text-decoration: none;
    font-size:20px;
    color: white;
  }

  header ul li a:hover {
    background-color: white;
    
  }
